#JS {
    width: 200px;
    height: 100px;
    background: #e80e0e;
    margin-bottom: 50px;
}

.first {
    width: 200px;
    height: 100px;
    background: #e80e0e;
    margin-bottom: 50px;
}

.second {
    width: 200px;
    height: 100px;
    background: #e80e0e;
    margin-bottom: 50px;
}